---
import Layout from '../layouts/Layout.astro';

const languages = ["en", "fr", "it", "nl"];
const defaultLanguage = "en";
const languagesName = {
	"en": "English",
	"fr": "Français",
	"it": "Italiano",
	"nl": "Dutch"
};
---

<Layout title='QrCode prevention'>
	<label class="small" for="languages_selector" data-TwoMi18n="website_language">Website language:</label>
	<select class="language" id="languages_selector">
		{languages.map((code) => {
			return (<option value={code}>{languagesName[code]}</option>)
			})
		}
	</select>
	<h1 data-TwoMi18n="title">Oops, seems like you scanned a random QrCode </h1>
	<!-- like <span id="visitors">X</span> persons</h2> -->
	<h2 data-TwoMi18n="title2">It could have gone really wrong, but you are safe now.</h2>
    <p data-TwoMi18n="title3">You need to be careful when scanning QrCodes, they can be used to steal your data, or even worse, to install malware on your device.</p>

    <h2 data-TwoMi18n="data_title">Here is some data that I have access to about you</h2>
    <ul id="data">
        <li><span data-TwoMi18n="data_ip">Your IP address:</span> <span id="ip"></span></li>
        <li><span data-TwoMi18n="data_browser">Your browser:</span> <span id="browser"></span></li>
        <li><span data-TwoMi18n="data_OS">Your OS:</span> <span id="os"></span></li>
        <li><span data-TwoMi18n="data_language">Your language:</span> <span id="language"></span></li>
        <li><span data-TwoMi18n="data_country">Your country:</span> <span id="country"></span></li>
        <li><span data-TwoMi18n="data_city">Your city:</span> <span id="city"></span></li>
    </ul>

    <p data-TwoMi18n="data_p1">And that's just a few of them.</p>
    <p><span data-TwoMi18n="data_p2">Here is a safe website that can give you more information about your device:</span> <a href="https://www.deviceinfo.me/">https://www.deviceinfo.me/</a></p>
    
    <h2 data-TwoMi18n="article_title">Here are some articles about QrCode security</h2>
    <ul id="articles">
		<li><a target="_blank" href="https://www.forbes.com/sites/forbestechcouncil/2020/06/01/i-dont-scan-qr-codes-and-neither-should-you/">Forbes.com: I Don't Scan QR Codes, And Neither Should You</a></li>
		<li><a target="_blank" href="https://www.malwarebytes.com/cybersecurity/basics/what-is-a-qr-code">Malwarebytes.com: Are QR code safe?</a></li>
		<li><a target="_blank" href="https://www.kaspersky.com/resource-center/definitions/what-is-a-qr-code-how-to-scan">Kaspersky.com: What is a QR code and are thet safe?</a></li>
		<li><a target="_blank" href="https://www.computer.org/publications/tech-news/trends/qr-code-risks">Computer.org: Risks of Using QR Codes and How To Mitigate it</a></li>
	</ul>
	<p data-TwoMi18n="stay_safe">Stay safe, and don't open random QrCodes.</p>
	<video width="400" height="400" autoplay loop muted playsinline>
		<source src="/rickroll.webm" type="video/webm">
	</video>
	<p class="small" data-TwoMi18n="disclaimer1">This website is intended for educational purposes only. It is not engaged in rendering spamming or appropriation.</p>
	<p class="small" data-TwoMi18n="disclaimer2">Furthermore, this website does not store or retain any personal data from its visitors. The data displayed on the site is temporary and is deleted as soon as the user session ends.</p>
	<p class="small"><span data-TwoMi18n="disclaimer3">Check out the source code on </span><a target="_blank" href="https://github.com/NicolasRenault/qrcode-prevention" title="Github">GitHub</a>.</p>
</Layout>

<script defer define:vars={{defaultLanguage}}>
	const translations = {
		default: "en",
		"en": {
			"website_language": "Website language:",
			"title": "Oops, seems like you scanned a random QrCode",
			"title2": "It could have gone really wrong, but you are safe now.",
			"title3": "You need to be careful when scanning QrCodes, they can be used to steal your data, or even worse, to install malware on your device.",
			"data_title": "Here is some data that I have access to about you",
			"data_ip": "Your IP address:",
			"data_browser": "Your browser:",
			"data_OS": "Your OS:",
			"data_language": "Your language:",
			"data_country": "Your country:",
			"data_city": "Your city:",
			"data_p1": "And that's just a few of them.",
			"data_p2": "Here is a safe website that can give you more information about your device:",
			"article_title": "Here are some articles about QrCode security",
			"stay_safe": "Stay safe, and don't open random QrCodes.",
			"disclaimer1": "This website is intended for educational purposes only. It is not engaged in rendering spamming or appropriation.",
			"disclaimer2": "Furthermore, this website does not store or retain any personal data from its visitors. The data displayed on the site is temporary and is deleted as soon as the user session ends.",
			"disclaimer3": "Check out the source code on ",
		},
		"fr": {
			"website_language": "Langue du site:",
			"title": "Oups, il semble que vous ayez scanné un QrCode aléatoire",
			"title2": "Cela aurait pu mal se passer, mais vous êtes en sécurité maintenant.",
			"title3": "Vous devez faire attention lorsque vous scannez des QrCodes, ils peuvent être utilisés pour voler vos données, ou pire, pour installer des virus sur votre appareil.",
			"data_title": "Voici quelques données auxquelles j'ai accès à votre sujet",
			"data_ip": "Votre adresse IP:",
			"data_browser": "Votre navigateur:",
			"data_OS": "Votre système d'exploitation:",
			"data_language": "Votre langue:",
			"data_country": "Votre pays:",
			"data_city": "Votre ville:",
			"data_p1": "Et ce n'est qu'une petite partie.",
			"data_p2": "Voici un site web sûr qui peut vous donner plus d'informations sur votre appareil:",
			"article_title": "Voici quelques articles sur la sécurité des QrCodes",
			"stay_safe": "Restez en sécurité, et ne scannez pas de QrCodes inconnus.",
			"disclaimer1": "Ce site web est destiné à des fins éducatives uniquement. Il ne s'engage pas dans le spamming ou l'appropriation.",
			"disclaimer2": "De plus, ce site web ne stocke ni ne conserve aucune données personnelle de ses visiteurs. Les données affichées sur le site sont temporaires et sont supprimées dès que la session de l'utilisateur se termine.",
			"disclaimer3": "Consultez le code source sur ",
		},
		"it": {
			"website_language": "Lingua del sito:",
			"title": "Ops, sembra che tu abbia scansionato un QrCode casuale",
			"title2": "Potrebbe essere andata davvero male, ma ora sei al sicuro.",
			"title3": "Devi fare attenzione quando scansioni i QrCode, possono essere utilizzati per rubare i tuoi dati, o peggio, per installare malware sul tuo dispositivo.",
			"data_title": "Ecco alcuni dati a cui ho accesso su di te",
			"data_ip": "Il tuo indirizzo IP:",
			"data_browser": "Il tuo browser:",
			"data_OS": "Il tuo sistema operativo:",
			"data_language": "La tua lingua:",
			"data_country": "Il tuo paese:",
			"data_city": "La tua città:",
			"data_p1": "E questo è solo un piccolo esempio.",
			"data_p2": "Ecco un sito web sicuro che può darti più informazioni sul tuo dispositivo:",
			"article_title": "Ecco alcuni articoli sulla sicurezza dei QrCode",
			"stay_safe": "Stai al sicuro e non aprire QrCode casuali.",
			"disclaimer1": "Questo sito web è destinato esclusivamente a scopi educativi. Non si occupa di spam o appropriazione.",
			"disclaimer2": "Inoltre, questo sito web non memorizza né conserva alcun dato personale dei suoi visitatori. I dati visualizzati sul sito sono temporanei e vengono eliminati non appena termina la sessione dell'utente.",
			"disclaimer3": "Consulta il codice sorgente su "
		},
		"nl": {
			"website_language": "Website taal:",
			"title": "Oeps, het lijkt erop dat je een willekeurige QrCode hebt gescand",
			"title2": "Het had echt fout kunnen gaan, maar je bent nu veilig.",
			"title3": "Je moet voorzichtig zijn bij het scannen van QrCodes, ze kunnen worden gebruikt om je gegevens te stelen, of erger nog, om malware op je apparaat te installeren.",
			"data_title": "Hier zijn enkele gegevens waarover ik toegang heb tot jou",
			"data_ip": "Je IP-adres:",
			"data_browser": "Je browser:",
			"data_OS": "Je besturingssysteem:",
			"data_language": "Je taal:",
			"data_country": "Je land:",
			"data_city": "Je stad:",
			"data_p1": "En dat is nog maar een klein deel.",
			"data_p2": "Hier is een veilige website die je meer informatie kan geven over je apparaat:",
			"article_title": "Hier zijn enkele artikelen over QrCode-beveiliging",
			"stay_safe": "Blijf veilig en open geen willekeurige QrCodes.",
			"disclaimer1": "Deze website is uitsluitend bedoeld voor educatieve doeleinden. Het houdt zich niet bezig met spammen of toe-eigening.",
			"disclaimer2": "Bovendien slaat deze website geen persoonlijke gegevens van zijn bezoekers op of behoudt deze niet. De gegevens die op de site worden weergegeven, zijn tijdelijk en worden verwijderd zodra de gebruikerssessie eindigt.",
			"disclaimer3": "Bekijk de broncode op "
		}
	}
	const articles = {
		"en": {
			"https://www.forbes.com/sites/forbestechcouncil/2020/06/01/i-dont-scan-qr-codes-and-neither-should-you/": "Forbes.com: I Don't Scan QR Codes, And Neither Should You",
			"https://www.malwarebytes.com/cybersecurity/basics/what-is-a-qr-code": "Malwarebytes.com: Are QR code safe?",
			"https://www.kaspersky.com/resource-center/definitions/what-is-a-qr-code-how-to-scan": "Kaspersky.com: What is a QR code and are thet safe?",
			"https://www.computer.org/publications/tech-news/trends/qr-code-risks": "Computer.org: Risks of Using QR Codes and How To Mitigate it",
		},
		"fr": {
			"https://www.francenum.gouv.fr/guides-et-conseils/protection-contre-les-risques/cybersecurite/qr-code-quelle-securite-et-quelles": "Francenum.gouv.fr: QR Code : quelle sécurité et quelles précautions prendre ?",
			"https://www.01net.com/actualites/mefiez-vous-de-ces-codes-qr-qui-peuvent-vous-couter-tres-cher.html": "01net.com: Méfiez-vous de ces codes QR qui peuvent vous coûter très cher",
			"https://www.rtl.fr/actu/sciences-tech/pourquoi-il-faut-se-mefier-des-qr-codes-7900258500": "rtl.fr: Pourquoi il faut se méfier des QR codes",
			"https://www.lebigdata.fr/qr-code-fbi-securite": "lebigdata.fr: QR Code : le FBI met en garde contre les risques de sécurité",
		},
		"it": {
			"https://www.01net.it/qr-code-meglio-non-fidarsi-7-consigli-di-sicurezza-da-cyberark/": "O1net.it: QR code, meglio non fidarsi: 7 consigli di sicurezza da CyberArk",
			"https://www.insic.it/privacy-e-sicurezza/information-security/qr-code-come-utilizzarlo-in-sicurezza/": " insic.it: Come usare il QR Code in sicurezza",
			"https://casa.tiscali.it/magazine/articoli/i-rischi-nascosti-nei-QR-Code/de989682-191a-11ee-8244-005056a86fbe/": "casa.tiscali.it: I rischi nascosti dei QR Code. Come usarli senza avere problemi di sicurezza",
			"https://www.html.it/articoli/la-sicurezza-dei-qr-code/": "html.it: La sicurezza dei QR Code"
		},
		"nl": {
			"https://nl.qrcodechimp.com/qr-code-security-guide/": "Qrcodechimp.com: QR-codebeveiliging: een complete gids voor merken en gebruikers",
			"https://www.politie.be/5998/nl/nieuws/veilig-surfen-hackers-gebruiken-qr-codes-om-geld-en-gegevens-te-stelen": "Politie.be: Veilig surfen: hackers gebruiken QR-codes om geld en gegevens te stelen",
			"https://www.androidplanet.nl/nieuws/quishing-herkennen-en-voorkomen/": "Androidplanet.nl: Phishing en quishing herkennen en voorkomen: zo bescherm je jezelf",
			"https://www.kaspersky.nl/resource-center/definitions/what-is-a-qr-code-how-to-scan": "Kaspersky.nl: Wat is een QR-code en zijn ze veilig?"
		}
	};

	const languageSelector = document.getElementById("languages_selector");
	languageSelector.addEventListener("change", (event) => {
		handleTanslation(event.target.value);
	});
	
	let mi18n;

	window.addEventListener("load", () => {
		mi18n = new TwoMi18n(translations);
		setUpNavigatorTranslation();
	});

	/**
	 * Set up the navigator translation at format xx. 
	 */
	function setUpNavigatorTranslation() {
		const lang = navigator.language.length > 2 ? navigator.language.split("-")[0] : navigator.language;
		handleTanslation(lang);
		languageSelector.value = lang;
	}

	
	/**
	 * Handle the translation by checking if the language is available and calling translations methods
	 */
	function handleTanslation(lang) {
		mi18n.translateHTML(lang);
		changeArticleByLang(lang);
		languageSelector.value = lang;
	}

	/**
	 * Change the articles list by language
	 */
	function changeArticleByLang(lang) {
		
		const articlesList = document.getElementById("articles");
		articlesList.innerHTML = "";
		for (const [link, title] of Object.entries(articles[lang])) {
			const li = document.createElement("li");
			const a = document.createElement("a");
			a.href = link;
			a.target = "_blank";
			a.innerText = title.toString();
			li.appendChild(a);
			articlesList.appendChild(li);
		}
	}


	/**
	 * Get the browser name
	 * @returns {string} The browser name
	 */
	function getBrowser() {
		const userAgent = navigator.userAgent;
		let browserName = "Unknown";

		if (userAgent.indexOf("Opera") > -1 || userAgent.indexOf("OPR") > -1) {
			browserName = "Opera";
		} else if (userAgent.indexOf("Edg") > -1 || userAgent.indexOf("Edge") > -1) {
			browserName = "Edge";
		} else if (userAgent.indexOf("Chrome") > -1) {
			browserName = "Chrome";
		} else if (userAgent.indexOf("Safari") > -1) {
			browserName = "Safari";
		} else if (userAgent.indexOf("Firefox") > -1) {
			browserName = "Firefox";
		} else if (userAgent.indexOf("MSIE") > -1 || userAgent.indexOf("Trident/") > -1) {
			browserName = "IE";
		}

		return browserName;
}

	/**
	 * Get the OS name
	 * @returns {string} The OS name
	 */
	function getOS() {
		const userAgent = navigator.userAgent;
		let osName = "Unknown";
		if (userAgent.indexOf("Android") > -1) {
			osName = "Android";
		} else if (userAgent.indexOf("iPhone") > -1) {
			osName = "iOS";
		} else if (userAgent.indexOf("Win") > -1) {
			osName = "Windows";
		} else if (userAgent.indexOf("Mac") > -1) {
			osName = "MacOS";
		} else if (userAgent.indexOf("X11") > -1) {
			osName = "UNIX";
		} else if (userAgent.indexOf("Linux") > -1) {
			osName = "Linux";
		}
		return osName;
	}

	/**
	 * Get the language
	 * @returns {string} The language
	 */
	function getLanguage() {
		return navigator.language;
	}

	/**
	 * Get the country
	 * @returns {string} The country
	 */
	function getCountry() {
		return Intl.DateTimeFormat().resolvedOptions().timeZone.split("/")[0];
	}

	/**
	 * Get the city
	 * @returns {string} The city
	 */

	function getCity() {
		return Intl.DateTimeFormat().resolvedOptions().timeZone.split("/")[1];
	}

	/**
	 * Get the IP address
	 * @returns {string} The IP address
	 */
	function getIP() {
		return fetch("https://api.ipify.org?format=json")
			.then((response) => response.json())
			.then((data) => data.ip);
	}

	//fill the data
	getIP().then((ip) => {
		document.getElementById("ip").innerHTML = ip;
	});
	document.getElementById("browser").innerHTML = getBrowser();
	document.getElementById("os").innerHTML = getOS();
	document.getElementById("language").innerHTML = getLanguage();
	document.getElementById("country").innerHTML = getCountry();
	document.getElementById("city").innerHTML = getCity();

	/**
	 * Redirect to cat page with 0.1% chance
	 */
	function redirectToCat() {
		const random = Math.floor(Math.random() * 1000);
		if (random < 1) {
			window.location.href = window.location.href + "cat";
		}
	}

	redirectToCat();
</script>
